
<%- include('partials/head') %>
<%- include('partials/navbar') %>
<!-- Wrapper -->
<div id="wrapper">
	<%- include('partials/header') %>
	<!-- Main -->
	<div id="main">
		<% for (let i=0; i<data.length; i++) { %>
		<article class="thumb">
			<a href="images/<%= data[i].dataValues.medialocation %>" class="image"><img src="images/<%= data[i].dataValues.medialocation %>" alt="" /></a>
			<h2><%= data[i].dataValues.title %></h2>
			<p><%= data[i].dataValues.description %></p>
			<p>💬 <a href="/comments/<%= data[i].dataValues.id %>">Comments</a></p>
		</article>
		<% } %>
	</div>
</div>
<%- include('partials/footer') %>
