<%- include('partials/head') %>
    <!-- Wrapper -->
    <div id="wrapper">
        <%- include('partials/navbar') %>
            <!-- Main-->
            <div class="container p-5">
                <% if(data) { %>
                    <div class="alert alert-warning" role="alert">
                        <%= data %>
                    </div>

                    <% } %>
                        <h1>Log in</h1>
                        <form action="/users/login" method="POST" enctype="application/json">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" required />
                                </div>
                                <br />
                                <div class="form-group floating-label-form-group controls">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        required />
                                </div>
                                <br />
                                <div class="form-group">
                                    <button type="submit" class btn btn-primary id="sendMessaageButton">
                                        login
                                    </button>
                                    <% if(redirectUrl) { %>
                                        <input type="hidden" id="redirectUrl" name="redirectUrl"
                                            value="<%= redirectUrl %>" />
                                        <% } %>
                                </div>
                            </div>
                        </form>
            </div>
    </div>
    <%- include('partials/footer') %>